{% extends 'base.html.twig' %}
{% block title %}Show player{% endblock %}
{% block body %}
    {% for person in persons %}
        <li><a href="/player/show/{{ person.id }}">{{ person.name }}</a></li>
    {% endfor %}
{% endblock %}